div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.scroll2 {
	width: 1775px;
}

::-webkit-scrollbar
{
  width: 4px;  /* for vertical scrollbars */
  height: 4px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: #FFFFFF;
}

::-webkit-scrollbar-thumb
{
  background: #d3d3d3;
}


/* override bootstrap center class */
.center {
	padding-top: 10%;
	padding-bottom: 10%;
	width: 100%;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

.nav-pills .nav-link.active, .show > .nav-pills .nav-link {
	background-color: #990000;
}

.wl { color: #FFFFFF; }
.wl:link { color: #FFFFFF; }
.wl:hover { color: #FFFFFF; text-decoration: none; }
.wl:visited { color: #FFFFFF; }
.wl:active { color: #FFFFFF; text-decoration: none;}


.seq {
	max-width: 100%;
}

.profile {
	padding: 5px 5px 5px 1px;
}

.l1 {
	width: 48%; 
	display: inline-block;
	float: left;
}

.r1 {
	width: 48%; 
	display: inline-block;
	float: right;
}

.logo {
	display: inline-block;
	width: auto;
	max-height: 40px;
	margin: 0 auto;
	padding-top: 0;
	padding-bottom: 0;
}
